flow1/Microsoft.Flow/flows/96db8af7-1bd6-483a-ba0b-c23cb00a99d9/definition.json
{"name":"79fc8122-e729-400b-a1c9-dfab7f9a9b24","id":"/providers/Microsoft.Flow/flows/79fc8122-e729-400b-a1c9-dfab7f9a9b24","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"employees tracker status change -> send contract accordingly","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"82709900-8bb8-43b2-bcf9-d4b57138d5ec","type":"User","tenantId":"66f9bb5f-b621-4ce5-bc26-3073cf2e3055"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-03-25T11:44:59.8970403Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_or_a_file_is_modified":{"recurrence":{"frequency":"Minute","interval":3},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnChangedItems"},"parameters":{"dataset":"https://soepore.sharepoint.com/sites/teamsite","table":"ce678b80-98cf-4a1e-a0f0-b2c934df482b"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_changes_for_an_item_or_a_file_(properties_only)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemChanges"},"parameters":{"dataset":"https://soepore.sharepoint.com/sites/teamsite","table":"ce678b80-98cf-4a1e-a0f0-b2c934df482b","id":"@triggerOutputs()?['body/ID']","since":"@triggerOutputs()?['body/{TriggerWindowStartToken}']","until":"@triggerOutputs()?['body/{TriggerWindowEndToken}']","includeDrafts":false},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Create_an_agreement_from_a_library_template_and_send_for_signature":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"CreateAgreementByTemplate_V2"},"parameters":{"AgreementCreationInfoTemplateV6/name":"New Contract for [@{triggerOutputs()?['body/Title']}] {@{triggerOutputs()?['body/ID']}}","AgreementCreationInfoTemplateV6/fileInfos":[{"libraryDocumentId":"CBJCHBCAABAAiGFt1daLVBsBujmLiq_eBjAKh7sik3B8"}],"AgreementCreationInfoTemplateV6/signatureType":"ESIGN","AgreementCreationInfoTemplateV6/participantSetsInfo":[{"memberInfos":[{"email":"@triggerOutputs()?['body/Personalemail']"}],"order":1,"role":"SIGNER"}],"AgreementCreationInfoTemplateV6/message":"Please review and complete this document"},"authentication":"@parameters('$authentication')"}},"Update_item":{"runAfter":{"Create_an_agreement_from_a_library_template_and_send_for_signature":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://soepore.sharepoint.com/sites/teamsite","table":"ce678b80-98cf-4a1e-a0f0-b2c934df482b","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/Newcontractstatus":"Sent","item/Newcontractlink":"https://secure.na4.adobesign.com/public/agreements/view/@{outputs('Create_an_agreement_from_a_library_template_and_send_for_signature')?['body/id']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_changes_for_an_item_or_a_file_(properties_only)":["Succeeded"]},"expression":{"and":[{"equals":["@triggerOutputs()?['body/Status/Value']","SIGN new contract"]},{"equals":["@triggerOutputs()?['body/Newcontractstatus']","@Null\n"]}]},"type":"If"},"Condition_2":{"actions":{"Create_an_agreement_from_a_library_template_and_send_for_signature_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"CreateAgreementByTemplate_V2"},"parameters":{"AgreementCreationInfoTemplateV6/name":"End Contract for [@{triggerOutputs()?['body/Personname']}]","AgreementCreationInfoTemplateV6/fileInfos":[{"libraryDocumentId":"CBJCHBCAABAAuXpVrn6pWEcsB0WqHxar8aJyRPEg3-bp"}],"AgreementCreationInfoTemplateV6/signatureType":"ESIGN","AgreementCreationInfoTemplateV6/participantSetsInfo":[{"memberInfos":[{"email":"@triggerOutputs()?['body/Personalemail']"}],"order":1,"role":"SIGNER"}],"AgreementCreationInfoTemplateV6/message":"Please review and complete this document"},"authentication":"@parameters('$authentication')"}},"Update_item_2":{"runAfter":{"Create_an_agreement_from_a_library_template_and_send_for_signature_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"https://soepore.sharepoint.com/sites/teamsite","table":"ce678b80-98cf-4a1e-a0f0-b2c934df482b","id":"@triggerOutputs()?['body/ID']","item/Title":"@triggerOutputs()?['body/Title']","item/Endcontractstatus":"Sent","item/Endcontractlink":"https://secure.na4.adobesign.com/public/agreements/view/@{outputs('Create_an_agreement_from_a_library_template_and_send_for_signature_2')?['body/id']}"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_changes_for_an_item_or_a_file_(properties_only)":["Succeeded"]},"expression":{"and":[{"equals":["@triggerOutputs()?['body/Status/Value']","SIGN end contract"]},{"equals":["@triggerOutputs()?['body/Endcontractstatus']","@Null"]}]},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9c07a126-809a-4d94-922b-6d7b-f5b7ff15","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_adobesign":{"connectionName":"shared-adobesign-e2f0f967-e9cd-48b3-be9a-50eb-d386dd31","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_adobesign","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}