flow2/Microsoft.Flow/flows/2991024d-c524-445e-93e4-6dfc8135d98a/definition.json
{"name":"3f4c0c56-f856-44ca-a001-20167161aa89","id":"/providers/Microsoft.Flow/flows/3f4c0c56-f856-44ca-a001-20167161aa89","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Agreement signed -> send welcome documents","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"82709900-8bb8-43b2-bcf9-d4b57138d5ec","type":"User","tenantId":"66f9bb5f-b621-4ce5-bc26-3073cf2e3055"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-03-25T13:22:11.8165988Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_agreement_workflow_is_completed_successfully":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobesign","connectionName":"shared_adobesign","operationId":"CreateWebhookForAgreementSignedEvent"},"parameters":{"WebhookCreationInfo/name":"Contract signed -> send a pdf","WebhookCreationInfo/scope":"Any of my agreements","WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDetailedInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeParticipantsInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeDocumentsInfo":true,"WebhookCreationInfo/webhookConditionalParams/webhookAgreementEvents/includeSignedDocuments":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition":{"actions":{"Get_file_content_using_path":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContentByPath"},"parameters":{"dataset":"https://soepore.sharepoint.com/sites/teamsite","path":"/Shared Documents/Welcome-package/welcome.png","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Convert_Image_to_PDF":{"runAfter":{"Get_file_content_using_path":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_adobepdftools","connectionName":"shared_adobepdftools","operationId":"CreatePDFFromImage"},"parameters":{"inputFileName":"welcome.png","InputFile0/body":"@outputs('Get_file_content_using_path')?['body']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_notification_(V3)":{"runAfter":{"Convert_Image_to_PDF":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{triggerOutputs()?['body/participantUserEmail']};","request/subject":"welcome","request/text":"<p>welcome</p>","request/files":"@outputs('Convert_Image_to_PDF')?['body/fileContent']","request/filenames":"@outputs('Convert_Image_to_PDF')?['body/fileName']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"contains":["@triggerOutputs()?['body/agreement/name']","New Contract"]},"type":"If"}},"description":""},"connectionReferences":{"shared_sharepointonline":{"connectionName":"shared-sharepointonl-9c07a126-809a-4d94-922b-6d7b-f5b7ff15","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_adobesign":{"connectionName":"shared-adobesign-e2f0f967-e9cd-48b3-be9a-50eb-d386dd31","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_adobesign","tier":"NotSpecified"},"shared_adobepdftools":{"connectionName":"shared-adobepdftools-d678cdf6-5b32-42ac-a71c-b609-836d9f64","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_adobepdftools","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"shared-sendmail-5425cba9-76ce-4bb9-882e-ca54-12b5d864","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}